<h1>Create a New Question</h1>

<%= form_with model: @question, url: test_questions_path(@test), method: :post do |f| %>
  <div>
    <%= f.label :content, "Question" %>
    <%= f.text_field :content %>
  </div>

  <%= f.hidden_field :test_id, value: @test.id %>

  <%= f.submit "Create" %>
<% end %>
